<!DOCTYPE html>
<html lang="nb">
  <head>
    {{> head }}
  </head>
  <body class="{{body-class}}">

    <div id="snippet">
      {{> body }}
    </div>

    <!-- JS and analytics only. -->
    {{> javascripts }}
  </body>
</html>